/* Estilos generales */
.list {
    position: relative;
    left: 46%;
    list-style: none;
    padding: 1%;
    top: 0;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
}

.list li {
    position: relative;
    justify-content: space-between;
    padding: 1%;
}

.logo {
    position: absolute;
    top: 10;
    left: 3%;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding-right: 20%;
}
nav {
    background: linear-gradient(to bottom, black, transparent);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1.4%;
    color: rgb(255, 255, 255);
    z-index: 1;
}


#asideMenu {
    transition: transform 0.3s ease-in-out;
}

.logo {
    position: absolute;
    top: 10;
    left: 3%;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding-right: 20%;
}

li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

a {
    font-family:'Segoe UI', Verdana, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
}

.menu {
    position: relative;
    top: 13px;
    left: 2%;
}

.menu:hover {
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../src/images_videos/foto_fondo_paisaje.jpg);
    background-size:cover;
    background-attachment: fixed;

}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top:5%;
    padding-bottom:2%;
    padding-right:30%;
}

/*   footer   */
#image_footer{
        width: 50px;
        height: 50px;
    }
    ul.lista_redes_sociales {
        list-style: none;
        display: inline; 
        text-align: left; 
        margin-top: 10px;
    }
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
    }

    .red_social {
        width: 25px;
        display: inline;
        padding: 5px;
    }