nav {
    background: linear-gradient(to bottom, black, transparent);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1.4%;
    color: rgb(255, 255, 255);
    z-index: 2; /* Asegura que el nav esté en un nivel superior */
}

#sideBar {
    width: 17%;
    position: fixed;
    right: -380px;
    transition: right 0.5s ease; /* Animación suave */
    top: 25%;
    height: 50%;
    padding-right: 2.5%;
    text-decoration: none;
    text-align: right;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    color: black;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    
}

.sideBarLi {
    list-style-type: none;
    padding: 5%;
}

.sideBarLi {
    transition: 0.7s ease-in-out;
    background-color: transparent;
    color: black;
}

.sideBarLi:hover {
    background-color: rgb(255, 255, 255);
}



.list {
    position: relative;
    left: 46%; /* Poiscion del contenido del nav a la derecha de la pagina */
    list-style: none;
    padding: 1%;
    top: 0;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
}

.list li {
    position: relative;
    justify-content: space-between;
    padding: 1%;
}

.logo {
    position: absolute;
    top: 10;
    left: 3%;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding-right: 20%;
}

.menuPrincipalAni::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menuPrincipalAni:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 119%;
    display: block;
    z-index: -10000; /* Asegura que el video esté detrás del nav */
}

.menu {
    position: fixed;
    right: 1%;
    top: 15%;
}

.menu:hover {
    cursor: pointer;
}

.welcomeBox {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 40%;
    right: 37%;
    width: 500px;
    z-index: 1;
}

#welcomeh1 {
    font-size: 50px;
    font-weight: bold;
    color: black;
}

#welcomeh3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
    color: grey;
}

#iconHand {
    position: absolute;
    top: 100%;
    padding: 1%;
    left: 33%;
}

#iconInstalation {
    position: absolute;
    top: 100%;
    padding: 1%;
    left: 46.5%;
}

#iconEarth {
    position: absolute;
    top: 100%;
    padding: 1%;
    left: 60%;
}

.fondoHand {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    border: 0;
    padding: 1%;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 33%;
}

.fondoInstalacion {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    border: 0;
    padding: 1%;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 46.5%;
}

.fondoEarth {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    border: 0;
    padding: 1%;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 60%;
}

.contentFromBox {
    background-color: transparent;
    border: 0;
    width: 30%;
    height: 1px;
    position: absolute;
    top: 118%;
    left: 35%;
    transition: 0.5s ease;
}

footer {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    font-size: 17px;
    left: 40%;
    position: absolute;
    top: 160%;    
}

#centerFooter {
    margin-left: 38.5%;
}

.lista_redes_sociales {
    display: inline;
    text-align: left;
 }
 
.red_social {
    width: 25px;
    display: inline;
    padding: 5px;
}

#goUp {
    position: absolute;
    top: 150%;
    left: 49%;
    cursor: pointer;
    width: 3%;
}

#contentInsideBox {
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    transition: 0.5s ease;
    z-index: 3;
}