
body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: black;
}

h1 {
    margin-top: 4.5%;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: #7EBDC3;
}

html {
    scroll-behavior: smooth;
}

.list {
    position: relative;
    left: 46%; /* Poiscion del contenido del nav a la derecha de la pagina */
    list-style: none;
    padding: 1%;
    top: 0;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
}

.list li {
    position: relative;
    justify-content: space-between;
    padding: 1%;
}

.logo {
    position: absolute;
    top: 10;
    left: 3%;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding-right: 20%;
}
nav {
    background: linear-gradient(to bottom, black, transparent);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1.4%;
    color: rgb(255, 255, 255);
    z-index: 1;
}


#asideMenu {
    transition: transform 0.3s ease-in-out;
}

.logo {
    position: absolute;
    top: 10;
    left: 3%;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding-right: 20%;
}

li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

a {
    font-family:'Segoe UI', Verdana, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
}

.menu {
    position: relative;
    top: 13px;
    left: 2%;
}

.menu:hover {
    cursor: pointer;
}

/*CSS, De los botones "Me interesa" */

button {
    font-weight: bold;
    font-family: 'Segoe UI';
    color: white;
    background-color:#7EBDC3;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 150px;
    cursor: pointer;
}

/*CSS, De la cabecera*/

.cabecera {
    background-image: url(../src/images_videos/casa_solar_Background.jpg);
    background-size: cover;
    padding: 40px;
}


/*ARTICULO PANELES SOLARES*/

.img_producto {
    float: left;
    margin-right: 80px;
    border-right: solid 3px black;
    padding-right: 6%;
}

.articulo_derecha {
    font-family: Arial, Helvetica, sans-serif;
}

.titulo_presentation {
    background: linear-gradient(to right, #b985ae, #7d5a83);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 24px;
}

.img_cristal {
    position: absolute;
    left: 77%;
    top:  50%;
    border-radius: 8%;
    width: 18%;
}

.img_celula {
    position: absolute;
    left: 77%;
    top:  77%;
    border-radius: 8%;
    width: 18%;

}

.img_producto_2 {
    float: right;
    margin-left: 100px;
    margin-top: 6%;
    margin-right: 90px;
    border-left: solid 3px black;
    padding-left: 7%;
}

.articulo_izquierda {
    margin-top: 15%;
}

/*CSS, De la parte de los paneles solares*/

.productos {
    margin-top: 8%;
}

.paneles_solares {
    padding: 20px;
    font-family: 'Segoe UI', Arial, sans-serif;
}


.Solar_sky {
    position: absolute;
    right: 35%;
    border: 5px solid black;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    background-color: white;
}

.Solar_pro {
    
    border: 5px solid black;
    border-radius: 5px;
    margin-left: 55%;
    margin-right: 25%;
    padding: 20px;
    background-color: white;
}

.Solar_sky_img {
    margin-left: 155px;
}

.Solar_pro_img{
    margin-left: 160px;

}

.cargadores_electricos {
    background-color: #DFF2D8;
    padding: 10px;
}

 .producto {
    border-bottom: 3px solid black;

 }

 /*CARGADORES EV*/

 .cargadores_electricos {
    /*background-color: rgb(58, 57, 57);*/
    border-top: solid 2px black;
    background-image: url(../src/images_videos/cargadores/carga_background.jpg);
    background-size: 100%;
    color: black;
    padding: 40px;
 }

 /*ARTICULO CARGADOR_1*/

 .img_cargador_1 {
    float: left;
    width: 70%;   
    border: solid white 2px;
    border-radius: 5px;
    margin-right: 100px;
 }

 .cargador_1 {
    font-size: 20px;
    color: white;
    margin-top: 5%;
 }

  /*FIN ARTICULO CARGADOR_1*/

   /*ARTICULO CARGADOR_2*/

 .img_cargador_2 {
    width: 60%;  
    border: solid white 2px;
    border-radius: 5px;
    margin-top: 10%;
    margin-left: 40%;
 }

 .cargador_2 {
    font-size: 20px;
    color: white;
    margin-top: 22.5%;
 }

 .content_2 {
    margin-top: 10%;
    position: absolute;
    top: 370%;
    border-bottom: 1px solid black;
 }

 .content_2_text {
    position: absolute;
    top: 385%;
    color: black;
    margin-top: 7%;  
 }

 .tipos_cargadores {
    margin-top: 5%;
    position: absolute;
    top: 415%;
    width: 60%;
 }

 .escoger {
    position: absolute;
    left: 10%;
    top: 445%;
    border: solid 4px white;
    border-radius: 2px;
    padding: 10px;
    color: white;
    background: none;
    margin-left: 220px;
 }

.escoger2 {
    position: absolute;
    left: 10%;
    top: 440%;
    border: solid 4px white;
    border-radius: 0px;
    padding: 10px;
    color: white;
    background: none;
    margin-left: 220px;
 }

 .escoger:hover {
    color: lightblue;
 }

 .escoger2:hover {
    color: lightblue;
 }
    /*FIN ARTICULO CARGADOR_2*/

       /*ARTICULO CARGADOR_3*/

 .img_cargador_3 {
    float: left;
    width: 70%;   
    border: solid white 2px;
    border-radius: 5px;
    margin-right: 100px;
 }

 .cargador_3 {
    font-size: 20px;
    color: white;
    margin-top: 16.5%;
    margin-bottom: 29%;
 }

 .content_3_text {
    color: black;
 }
     /*FIN ARTICULO CARGADOR_3*/

     /*PRESENTACION PRODUCTOS*/

.titulo_productos_carga {
    background: linear-gradient(to right,  #7EBDC3, black );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: px;
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, white, black);
    border-image-slice: 1;
    margin-left: 25%;
    margin-right: 25%;
    
}

.subtitulo_productos_carga {
    margin-bottom: 60px;
    background: linear-gradient(to right, aquamarine, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.productos_carga {
    background-image: url(../src/images_videos/cargadores/Productos_carga_background.jpg);
    margin-top: 25%;
    padding: 20px;
    color: white;
    border-radius: 20px;
}

.cargador_producto_smart {
    border: solid white 3px;
    padding: 44px;
    float: left;
    margin-left: 10%;
    border-radius: 5px;
    background: linear-gradient(to top, rgb(57, 56, 56), rgb(188, 186, 186));
}

.img_cargador_smart {
    border-radius: 4px;
    margin-top: 10%;
    margin-left: 30px;
}

.img_cargador {
    border-radius: 4px;
    margin-top: 9%;
    margin-left: 35px;
}

.img_cargador_pro {
    border-radius: 4px;
    margin-top: 9%;
    margin-left: 95px;
}


.cargador_producto_home {
    border: 4px solid;
    border-image: linear-gradient(to right, grey, black);
    border-image-slice: 1;
    margin-bottom: 20px;
    padding: 44px;
    float: left;
    margin-left: 11.5%;
    border-radius: 5px;
    color: black;
    background: linear-gradient(to bottom, white, rgb(57, 56, 56));
}


.cargador_producto_station {
    border: solid black 3px;
    padding: 44px;
    margin-left: 70%;
    margin-right: 8%;
    color: black;
    background: linear-gradient(to top, rgb(57, 56, 56), white);
}

.comprar_ahora {
    padding: 10px;
    border-radius: 2px;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid white;
    cursor: pointer;
    margin-left: 95.5px;
}

.comprar_ahora:hover {
    color: black;
    background-color: white;
    border: 3px solid white;
    transition: 0.9s;

}

.comprar_ahora_izquierda {
    padding: 10px;
    border-radius: 2px;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid white;
    cursor: pointer;
    margin-left: 65.5px;
}

.comprar_ahora_izquierda:hover {
    color: black;
    background-color: white;
    border: 3px solid white;
    transition: 0.9s;

}

.comprar_ahora_derecha {
    padding: 10px;
    border-radius: 2px;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid white;
    cursor: pointer;
    margin-left: 112.5px;
}

.comprar_ahora_derecha:hover {
    color: black;
    background-color: white;
    border: 3px solid white;
    transition: 0.9s;

}


/*BOTONES ELEGANTES*/

.elegant_button {
    margin-top: 28.5%;
    float: left;
    margin-left: 60px;
    padding: 35px;
    background: transparent;
    border: solid white 4px;
    padding-left: 155px;
    padding-right: 150px;
    font-size: 24px;
}

.elegant_button:hover {
    color: black;
    background-color: white;
    border: 4px solid white;
    transition: 0.9s;
}

.elegant_button2 {
    margin-left: 60px;
    padding: 35px;
    background-color: transparent;
    border: solid black 4px;
    padding-left: 155px;
    padding-right: 150px;
    font-size: 30px;
    color: black;
}

.elegant_button2:hover {
    color: black;
    background-color: white;
    border: 4px solid black;
    transition: 0.9s;
}

.elegant_button3 {
    margin-top: 20.5%;
    float: left;
    margin-left: 60px;
    padding: 35px;
    background: transparent;
    border: solid white 4px;
    padding-left: 155px;
    padding-right: 150px;
    font-size: 30px;
}

.elegant_button3:hover {
    color: black;
    background-color: white;
    border: 4px solid black;
    transition: 0.9s;
}

/*FIN BOTONES ELEGANTES*/

/*FOOTER*/

#image_footer {
    width: 50px;
    height: 50px;
}

ul.lista_redes_sociales {
    list-style: none;
    display: inline;
    text-align: left;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.red_social {
    display: inline;
    padding: 5px;
}

.red_social img {
    width: 50px;
    height: 50px;
}

/*FOOTER*/
